

html {
    background: linear-gradient(0deg, rgba(0,0,0,1) 24%, rgba(136,19,19,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
}

body {
    font-weight: 10;
    color: rgb(54, 10, 10)
}

h2, footer {
    font-family: 'Mansalva';
}

button {
    border: none;
}

.itens-comprados {
text-decoration: line-through;
}

.borda-lista {
    border-bottom: solid 2px rgb(54, 10, 10);
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

button {
    background-color: white;
    border-radius: 5px;
    font-family: 'PT Sans';
    font-weight: 600;
}

.transparent-hover{
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
    border: solid 2px;
    font-size: 10px;
}

.transparent-hover:hover {
    background-color: white;
    color: black;
    border-color: white;
}


